.bgColor{
    -fx-background-color: #213363;
}
.btn{
    -fx-padding: 0;
    -fx-text-fill: #FFF;
    -fx-alignment: CENTER;
    -fx-font-family: "Calisto MT";
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-font-weight: bold; /* equivalent to 700 */
}
.btn:hover{
    -fx-cursor: hand;
    -fx-border-color: #FFB8B8;
    -fx-border-radius: 46;
    -fx-border-width: 3;
}
.goback{
    -fx-background-color: black;
}
.goback:hover{
    -fx-background-color: grey;
}
