.silverImg{
    -fx-background-image: url('../Image/silverOption.jpg');
    -fx-background-color: lightgray 50%;
    -fx-background-size: cover;
}
.goldImg{
    -fx-background-image: url('../Image/goldOption.jpg');
    -fx-background-color: lightgray 80%;
    -fx-background-size: cover;
}
.platinumImg{
    -fx-background-image: url('../Image/platinumOption.jpg');
    -fx-background-color: lightgray 60%;
    -fx-background-size: cover;
}
.img{
    -fx-background-color: lightgray 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.optionBtn{
    -fx-pref-height: 32px;
    -fx-background-radius: 15px;
}
.optionBtn:hover{
    -fx-pref-height: 35px;
    -fx-background-radius: 15px 15px 0 0;
    -fx-border-radius: 15px 15px 0 0;
}
.selectedOptionBtn{
    -fx-background-radius: 15px 15px 0 0;
    -fx-border-radius: 15px 15px 0 0;
}
.price{
    -fx-pref-width: 658px;
    -fx-pref-height: 102px;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 0px 50px 50px 0px;
    -fx-background-color: rgba(217, 217, 217, 0.70);
    /*-fx-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
}
.req{
    -fx-background-color: rgba(217, 217, 217, 0.80);
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
}
.priceCalBtn{
    -fx-background-color:  #8330E5;
    -fx-background-radius: 15px;
}
.priceCalBtn:hover{
    -fx-background-color:  #8330E5;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-border-color: pink;
}